@model HeaderVM

    <style>
        marquee{
            background-color: #ebe8f4;
            padding:0.5rem 0;
            color: #2a254b;
        }
    </style>


<header>
    <marquee> LIMITED TIME OFFER: BIGGEST FURNITURE SALE OF THE YEAR! </marquee>
    <div class="container">
        <nav>
            <div class="row align-items-center">
                <div class="col-2">
                    <div class="header-logo">
                        <i class="fa-solid fa-bars sideBarToggle"></i>
                        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><img src="~/assets/images/@Model.Logo" alt="" /></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="navContent">
                        <ul class="align-items-center">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                            <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                            <li><a asp-controller="About" asp-action="Index">About</a></li>
                            <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                            @if (Model.UserFullName is not null) @*User.Identity.IsAuthenticated*@
                            {
                                <form asp-controller="Account" asp-action="Logout" asp-route-userId="@Model.UserId" style="display: inline;">
                                    <input type="submit" value="Logout" style="background-color:brown; color:white;border:none; padding:5px;" />
                                </form>
                                <p style="font-size:18px; font-weight:400;">@Model.UserFullName.ToUpper()</p>

                            }
                            else
                            {
                                
                            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                            }
                        </ul>
                    </div>

                </div>
                <div class="col-4">
                    <div class="navRight">
                        <div class="searchArea">
                            <form  class="product-searchbox">
                            <input type="text" class="input-search" />
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>
                        <a asp-controller="Basket" asp-action="Index">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span style="position:relative;">

                                <span style="position:absolute; top: -11px; background-color: #2a254b; border-radius: 50%; width: 20px; height: 20px; font-size: 16px; left: -4px; color: white;text-align: center;" class="basket-count ">@Model.BasketCount</span>
                            </span>
                        </a>
                        <a asp-controller="Wishlist" asp-action="Index">
                            <i class="fa-regular fa-heart"></i>
                            <span style="position:absolute;">

                                <span style="position:absolute; top: -11px; background-color: #2a254b; border-radius: 50%; width: 20px; height: 20px; font-size: 16px; left: -4px; color: white;text-align: center;" class="wishlist-count">@Model.WishlistCount</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <aside>
        <div class="sidebar transformLeft">
            <div class="sidebarLogo">
                <img src="~/assets/images/logo.svg" alt="" />
                <i class="fa-solid fa-circle-xmark sideBarToggle"></i>
            </div>
            <div class="sidebarContent">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                    <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                    <li><a asp-controller="About" asp-action="Index">About</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    @if (Model.UserFullName is not null) @*User.Identity.IsAuthenticated*@
                    {
                        <form asp-controller="Account" asp-action="Logout" asp-route-userId="@Model.UserId" style="display: inline;">
                            <input type="submit" value="Logout" style="background-color:brown; color:white;border:none; padding:5px;" />
                        </form>
                        <p style="font-size:18px; font-weight:400;">@Model.UserFullName.ToUpper()</p>


                    }
                    else
                    {

                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                    }
                </ul>
            </div>
            <span class="copyright">Copyright 2024 ©</span>
        </div>
    </aside>
</header>

