@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}

@section css{

    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/slick/slick.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/slick/slick-theme.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/features.css" />
    <link rel="stylesheet" href="~/assets/css/product.css" />
    <link rel="stylesheet" href="~/assets/css/blog.css" />
    <link rel="stylesheet" href="~/assets/css/pages/home/home.css" />
}

    <!-- Main Part -->

    <main>
      <!-- Hero Section -->
      <section id="hero">
        @foreach (var hero in Model.Heroes)
        {
        <div class="container">
          
          <div class="heroContent">
            <h2>@hero.Title</h2>
            <p>
              @hero.Description
            </p>
            <div class="readMore">
              <a asp-controller="Shop" asp-action="Index">View Collection</a>
            </div>
          </div>
        </div>
        <div class="heroImg">
          <img src="~/assets/images/@hero.Image" alt="" />
        </div>
        }
      </section>

      <!-- Products -->
      <section id="products">
        <div class="container">
          <div class="productsHeader">
            <h2>Featured Products</h2>
          </div>
          <div class="product-container">

                <partial name="_ProductsPartial" model="@Model.Products" />
      
          </div>
        </div>
      </section>

      <!-- Ad Section -->
      <section id="ad">
        <div class="container">
          <h2>Advertisements</h2>
          <div class="ads row">
              @foreach (var ad in Model.Adverts)
                {
                    <div class="ad col-md-4">
                        <img src="~/assets/images/@ad.Image" alt="" />
                    </div>
                }
            
            
          </div>
        </div>
      </section>

      <!-- Features Section -->
      <section id="features">
        <div class="container">
          <h3>What makes our brand different</h3>
          <div class="row features">
              @foreach (var feature in Model.Features)
                {
                    
            <div class="col-lg-3">
              <div class="feature">
                <img src="~/assets/images/@feature.Image" alt="" />
                <h4>@feature.Title</h4>
                <p>
                  @feature.Description
                </p>
              </div>
            </div>
                }
            
          </div>
        </div>
      </section>

      <!-- Brand Section -->
      <section id="brand">
        <div class="container">
          <div data-slick='{"slidesToShow": 2, "slidesToScroll": 2}'>
              @foreach (var brand in Model.Brands)
                {
                    
            <div class="brandImg">
              <img src="~/assets/images/@brand.Image" alt="" />
            </div>
                }
  
          </div>
        </div>
      </section>

      <!-- Idea Section -->
      <section id="idea">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="idea-content">
                <h2>@Model.Idea.Title</h2>
                <p>
                 @Model.Idea.Description
                </p>
                        <a asp-controller="Shop" asp-action="Index">View Collection</a>
              </div>
            </div>
            <div class="col-lg-6">
              <img src="~/assets/images/@Model.Idea.Image" alt="" />
            </div>
          </div>
        </div>
      </section>

      <!-- Testimonial Section -->
      <section id="testimonial">
        <div class="container">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">

                @foreach (var testimonial in Model.Testimonials)
                {
                        <div class="carousel-item @(testimonial.IsMain ? "active" : "")">
                            <div class="testimonialContainer d-block w-100">
                                <div class="testimonialPerson">
                                    <img src="~/assets/images/@testimonial.Image.Trim()" alt="" />
                                    <p>@testimonial.Name.Trim()</p>
                                </div>
                                <p class="testimonialContent">
                                   @testimonial.Message.Trim()
                                </p>
                            </div>
                        </div>
                }

           
       

            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>

      <!-- Subscribe Section -->
      <section
        style="background-image: url(./assets/images/subscribe-bg.jpeg)"
        id="subscribe"
      >
        <div class="container">
          <h2>Join the club and get the benefits</h2>
          <p>
            Sign up for our newsletter and receive exclusive offers on new
            ranges, sales, pop up stores and more
          </p>
          <div class="subscribeOptions">
            <div class="option">
              <i class="fa-solid fa-circle-check"></i>
              <span>Exclusive offers</span>
            </div>
            <div class="option">
              <i class="fa-solid fa-circle-check"></i>
              <span>Free events</span>
            </div>
            <div class="option">
              <i class="fa-solid fa-circle-check"></i>
              <span>Large discounts</span>
            </div>
          </div>

            <form asp-action="CreateSubscribe" method="post" class="subscribeMail">
                <input asp-for="@Model.Subscribe.Email" type="email" placeholder="your@email.com" required />
                <button type="submit" name="subscribe">Sign Up</button>
          </form>
        </div>
      </section>

      <!-- Blog Section -->
      <section id="blog">
        <div class="container">
          <div class="blogHeader">
            <h2>Consider Reading</h2>
            <p>Learn from us! Cause you know, why not?</p>
          </div>
          <div class="blogContainer row">
              @foreach (var blog in Model.Blogs)
                {
                    
            <div class="col-md-4">
              <div class="blog">
                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">
                  <div class="blogImg">
                    <img src="~/assets/images/@blog.Image" alt="" />
                  </div>
                </a>
                <div class="blogContent">
                  <span class="blogCategory">@blog.BlogCategoryName</span>
                                <span class="blogDate">@blog.CreateTime.ToString("MM/dd/yyyy")</span>
                  <a href="">
                    <h3>@blog.Title</h3>
                  </a>
                </div>
              </div>
            </div>
                }
         
          </div>

          <div class="readMore">
            <a asp-controller="Blog" asp-action="Index"> Read More </a>
          </div>
        </div>
      </section>
    </main>


    @section script{
    <!-- Slick Slider -->
    <script type="text/javascript" src="~/assets/slick/slick.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/product.js"></script>
    }

