@model ShopPageVM
@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/assets/css/filter.css" />
    <link rel="stylesheet" href="~/assets/css/product.css" />
    <link rel="stylesheet" href="~/assets/css/pages/shop/shop.css" />
}

<!-- Main Part -->

<main>
    <section id="shop">
        <div class="shopHeader">
            <h1>All Products</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="shopFilters">
                        <h5>Product Categories</h5>
                        <ul>
                            @foreach (var category in Model.Categories)
                            {
                                <li>
                                    <i class="fa-solid fa-chevron-right"></i>
                                    <a asp-action="GetProductsByCategory" asp-route-id="@category.Id"> @category.Name</a>
                                </li>
                            }
                           
                        </ul>
                        <hr />
                        <h5>Price</h5>
                        <form>
                        <div class="card">
                            <div class="price-content">
                                <div>
                                    <label>Min</label>
                                    <p id="min-value">$50</p>
                                </div>

                                <div>
                                    <label>Max</label>
                                    <p id="max-value">$500</p>
                                </div>
                            </div>

                            <div class="range-slider">
                                <div class="range-fill"></div>

                                <input type="range"
                                       class="min-price"
                                       value="10"
                                       min="10"
                                       max="500"
                                       step="10" />
                                <input type="range"
                                       class="max-price"
                                       value="500"
                                       min="10"
                                       max="500"
                                       step="10" />
                            </div>
                        </div>
                            <button id="filterForm" type="submit"><a class="filter" href="">Filter</a></button>
                        </form>
                        <hr />

                        <h5>Brands</h5>
                        <ul>
                            @foreach (var brand in Model.Brands)
                            {
                                <li>
                                    <i class="fa-solid fa-chevron-right"></i>
                                    <a asp-action="GetProductsByBrand" asp-route-id="@brand.Id">@brand.Name </a>
                                </li>
                                
                            }
                  
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- Products -->
                    <div id="products">
                        <span>Sort by: </span>
                        <select id="sortProducts" class="form-select" aria-label="Default select example">
                            <option >Choose Sort Option</option>
                            <option value="1">Date Added</option>
                            <option value="2">Alphabetically A-Z</option>
                            <option value="3">Alphabetically Z-A</option>
                            <option value="4">Price High-Low</option>
                            <option value="5">Price Low-High</option>
                        </select>

                        <div class="product-container row">

                            @foreach (var product in Model.PaginatedDatas.Datas)
                            {
                            <div class="col-md-4">
                                    <div class="product">
                                        <div class="wrapper">
                                            <div class="containerCard">
                                                <i class="fa-solid fa-heart wishlist"></i>
                                                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">
                                                    <div style="
                        background: url(/assets/images/products/@product.Image)
                          no-repeat center center;
                        -webkit-background-size: 100%;
                        -moz-background-size: 100%;
                        -o-background-size: 100%;
                        background-size: 100%;
                      "
                                                         class="top"></div>
                                                </a>
                                                <div class="bottom">
                                                    <div class="left">
                                                        <div class="details">
                                                            <h4>@product.Name</h4>
                                                            <p>£@product.Price</p>
                                                        </div>
                                                        <div class="buy">
                                                            <i class="fa-solid fa-cart-shopping"></i>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <div class="done">
                                                            <i class="fa-solid fa-check"></i>
                                                        </div>
                                                        <div class="details">
                                                            <h4>@product.Name</h4>
                                                            <p>Added to your cart</p>
                                                        </div>
                                                        <div class="remove">
                                                            <i class="fa-solid fa-x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inside">
                                                <div class="icon">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </div>
                                                <div class="contents">
                                                    <table>
                                                        <tr>
                                                            @if (product.Width != 0)
                                                            {
                                                            <th>Width</th>
                                                            }


                                                            @if (product.Height != 0)
                                                            {
                                                            <th>Height</th>
                                                            }

                                                        </tr>
                                                        <tr>
                                                             @if (product.Width != 0)
                                                            {
                                                            <td>@product.Width sm</td>
                                                            }

                                                            @if (product.Height != 0)
                                                            {
                                                            <td>@product.Height sm</td>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            @if (product.Length != 0)
                                                            {
                                                            <th>Length</th>
                                                                
                                                            }
                                                            @if (product.Weight != 0)
                                                            {
                                                                
                                                            <th>Weight</th>
                                                            }


                                                        </tr>
                                                        <tr>
                                                            @if (product.Length != 0)
                                                            {
                                                            <td>@product.Length sm</td>
                                                            }

                                                            @if (product.Weight != 0)
                                                            {
                                                            <td>@product.Weight kg</td>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <th>Material</th>
                                                        </tr>
                                                        <tr>
                                                            <td>@product.Material</td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                          
                        </div>
                    </div>
                </div>
            </div>
            <nav class="d-flex justify-content-center mt-3" aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.PaginatedDatas.HasPrevious ? "" : "disabled")">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.PaginatedDatas.CurrentPage - 1)" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    @for (int i = 1; i <= Model.PaginatedDatas.TotalPage; i++)
                    {
                        <li class="page-item @(Model.PaginatedDatas.CurrentPage == i ? "active" : "")">
                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i <span class="sr-only">(current)</span></a>
                        </li>
                    }

                    <li class="page-item @(Model.PaginatedDatas.HasNext ? "" : "disabled")">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.PaginatedDatas.CurrentPage+1)"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </nav>
            
        </div>
    </section>
</main>

@section script{
    <script src="~/assets/js/filter.js"></script>
    <script src="~/assets/js/product.js"></script>
}