@model ProductDetailVM
@{
    ViewData["Title"] = "ProductDetail";
}

@section css{
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/slick/slick.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/slick/slick-theme.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/product.css" />
    <link rel="stylesheet"
          href="~/assets/css/pages/productDetail/productDetail.css" />
}

<!-- Main Part -->

<main>
    <div class="container">
        <section id="productDetail">
            <div class="row">
                <div class="col-md-6">
                    <div class="productDetail-img">
                        <img src="~/assets/images/products/@Model.Product.Image" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="productDetail-content">
                        <h3>@Model.Product.Name</h3>
                        <h4>$@Model.Product.Price USD</h4>
                        <div class="productReviews">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>(4.5 stars) • 10 reviews</span>
                        </div>
                        <!-- Description -->
                        <h6>Product description:</h6>
                        <p>
                            @Model.Product.Description
                        </p>
                        <!-- Quantity -->
                        <h6>Quantity:</h6>
                        <div class="d-flex mb-4 productQuant" style="width: 300px">
                            <button class="btn btn-primary px-3 me-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fas fa-minus"></i>
                            </button>

                            <div class="form-outline">
                                <input id="form1"
                                       min="1"
                                       name="quantity"
                                       value="1"
                                       type="number"
                                       class="form-control" />
                            </div>

                            <button class="btn btn-primary px-3 ms-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <!-- Interactions -->
                        <div class="pt-4">
                            <a href="./cart.html" class="addToCart">Add to cart</a>
                            <a href="./wishlist.html" class="addToWishlist">Save to favorites</a>
                        </div>
                        <!-- Accordion -->
                        <div class="accordion mt-5" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                        Details
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne"
                                     class="accordion-collapse collapse">
                                    <div class="accordion-body">

                                        
                                       <ul>
                                            @if (Model.Product.Width != 0)
                                            {
                                            <li>
                                               Width: @Model.Product.Width sm
                                           </li>
                                            }
                                            @if (Model.Product.Height != 0)
                                            {
                                                <li>
                                                    Height: @Model.Product.Height sm
                                                </li>
                                            }
                                            @if (Model.Product.Length != 0)
                                            {
                                                <li>
                                                    Length: @Model.Product.Length sm
                                                </li>
                                            }
                                            @if (Model.Product.Weight != 0)
                                            {
                                                <li>
                                                    Weight: @Model.Product.Weight kg
                                                </li>
                                            }
                                            @if (Model.Product.Material.Length != 0)
                                            {
                                                <li>
                                                    Materials used: @Model.Product.Material
                                                </li>
                                            }
                                       </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseTwo"
                                            aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                        Shipping
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo"
                                     class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        This paragraph can contain a brief overview of your
                                        shipping policy, it will remain the same no matter which
                                        product is selected.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseThree"
                                            aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseThree">
                                        Returns
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree"
                                     class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        This paragraph can contain a brief overview of your
                                        return policy, it will remain the same no matter which
                                        product is selected.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Products -->
        <section id="products">
            <div class="container">
                <div class="productsHeader">
                    <h2>You might also love this</h2>
                </div>
                <div class="product-container">
                    <partial name="_ProductsPartial" model="@Model.FeaturedProducts" />
                </div>
            </div>
        </section>
    </div>
</main>

@section script{
    <!-- Slick Slider -->
    <script type="text/javascript" src="~/assets/slick/slick.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/product.js"></script>
}