@model ProductDetailVM
@inject UserManager<AppUser> userManager
@{
    ViewData["Title"] = "ProductDetail";
}

@section css{
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/slick/slick.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/slick/slick-theme.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/product.css" />
    <link rel="stylesheet"
          href="~/assets/css/pages/productDetail/productDetail.css" />
}
<style>
    #productReview {
        padding: 2rem;
    }

        #productReview form {
            width: 80%;
            margin: 0 auto;
        }

        #productReview .review-card {
            background-color: #b4abe5;
        }

            #productReview .review-card p {
                font-size: 1rem;
            }

    .review-title {
        text-align: center;
        color: #22202e;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    .reviewBtn {
        color: #fff;
        background-color: #2a254b;
        padding: 1rem;
        transition: all 0.4s;
    }

        .reviewBtn:hover {
            transform: scale(1.05);
        }
</style>
<!-- Main Part -->

<main>
    <div class="container">

        <section id="productDetail">
            <div class="row">
                <div class="col-md-6">
                    <div class="productDetail-img">
                        <img src="~/assets/images/products/@Model.Product.Image" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="productDetail-content">
                        <h3>@Model.Product.Name</h3>
                        <h4>$@Model.Product.Price USD</h4>
                        <div class="productReviews">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>(4.5 stars) • 10 reviews</span>
                        </div>
                        <!-- Description -->
                        <h6>Product description:</h6>
                        <p>
                            @Model.Product.Description
                        </p>
               
                        <!-- Interactions -->
                        <div class="py-4 mt-4">
                            <a style="cursor:pointer;" data-id="@Model.Product.Id" class="addToCart cart-add">Add to cart</a>
                            <a style="cursor:pointer;" data-id="@Model.Product.Id" class="addToWishlist wishlist-add">Save to favorites</a>
                        </div>
                        <!-- Accordion -->
                        <div class="accordion mt-5" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed cart-add"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                        Details
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne"
                                     class="accordion-collapse collapse">
                                    <div class="accordion-body">

                                        
                                       <ul>
                                            @if (Model.Product.Width != 0)
                                            {
                                            <li>
                                               Width: @Model.Product.Width sm
                                           </li>
                                            }
                                            @if (Model.Product.Height != 0)
                                            {
                                                <li>
                                                    Height: @Model.Product.Height sm
                                                </li>
                                            }
                                            @if (Model.Product.Length != 0)
                                            {
                                                <li>
                                                    Length: @Model.Product.Length sm
                                                </li>
                                            }
                                            @if (Model.Product.Weight != 0)
                                            {
                                                <li>
                                                    Weight: @Model.Product.Weight kg
                                                </li>
                                            }
                                            @if (Model.Product.Material.Length != 0)
                                            {
                                                <li>
                                                    Materials used: @Model.Product.Material
                                                </li>
                                            }
                                       </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseTwo"
                                            aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                        Shipping
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo"
                                     class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        This paragraph can contain a brief overview of your
                                        shipping policy, it will remain the same no matter which
                                        product is selected.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseThree"
                                            aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseThree">
                                        Returns
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree"
                                     class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        This paragraph can contain a brief overview of your
                                        return policy, it will remain the same no matter which
                                        product is selected.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="productReview">
            <h5 class="review-title">Product reviews:</h5>
            @if(Model.Reviews.Count != 0)
            {
            <div class="row my-3">
                <!-- Review Card -->
                <div class="col-md-8 mx-auto">
                    <div class="card review-card">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a style="margin-bottom:50px!important" asp-controller="Account" asp-action="Login">Write review</a>
                        }
                        @foreach (var item in Model.Reviews)
                        {
                            
                        <div class="card-body">
                            <!-- Review Title -->
                            <h5 class="card-title">@item.Title</h5>
                            <!-- Review Message -->
                            <p class="card-text">
                               @item.Message
                            </p>
                            <!-- Review Author -->
                            <p class="card-text">- @item.Name</p>
                            <!-- Review Creation Time -->
                            <p class="card-text">
                                <small class="text-muted">Posted on @item.CreateTime.ToString("dd/MM/yyyy")</small>
                            </p>
                        </div>
                        }
                    </div>
                </div>
            </div>
            } else
            {
                <div class="alert alert-danger" role="alert">
                    No Review!
                </div>
            }
            @if (User.Identity.IsAuthenticated)
            {
                
            <form method="post" asp-controller="Shop" asp-action="CreateReview" asp-route-id="@Model.Id" asp-route-userId="@userManager.Users?.FirstOrDefault(u=>u.UserName==User.Identity.Name).Id" class="w-60 mt-5">
                <!-- Email Input -->
                <div class="mb-3">
                    <label asp-for="@Model.NewReview.Email" class="form-label">Email Address</label>
                    <input type="email"
                           class="form-control"
                           id="inputEmail"
                           placeholder="Enter your email"
                           required
                           asp-for="@Model.NewReview.Email"
                           name="email"
                           />
                    <span style="color:red; margin-bottom:20px" asp-validation-for="@Model.NewReview.Email"></span>
                </div>
                <!-- Name Input -->
                <div class="mb-3">
                    <label asp-for="@Model.NewReview.Name" class="form-label">Your Name</label>
                    <input type="text"
                           class="form-control"
                           id="inputName"
                           placeholder="Enter your name"
                           required
                           asp-for="@Model.NewReview.Name"
                           name="name"/>
                    <span style="color:red; margin-bottom:20px" asp-validation-for="@Model.NewReview.Name"></span>

                </div>
                <!-- Title Input -->
                <div class="mb-3">
                    <label asp-for="@Model.NewReview.Title" class="form-label">Review Title</label>
                    <input type="text"
                           class="form-control"
                           id="inputTitle"
                           placeholder="Enter review title"
                           required 
                           asp-for="@Model.NewReview.Title" 
                           name="title"/>
                    <span style="color:red; margin-bottom:20px" asp-validation-for="@Model.NewReview.Title"></span>
                </div>
                <!-- Message Input -->
                <div class="mb-3">
                    <label asp-for="@Model.NewReview.Message" class="form-label">Your Review</label>
                    <textarea class="form-control"
                              id="inputMessage"
                              rows="5"
                              placeholder="Enter your review"
                              required
                              asp-for="@Model.NewReview.Message" name="message"></textarea>
                    <span style="color:red; margin-bottom:20px" asp-validation-for="@Model.NewReview.Message"></span>
                </div>
                <!-- Submit Button -->
                <button type="submit" class="reviewBtn w-100">Submit Review</button>
            </form>
            }
        </section>
        
        
        <!-- Products -->
        <section id="products">
            <div class="container">
                <div class="productsHeader">
                    <h2>You might also love this</h2>
                </div>
                <div class="product-container">
                    <partial name="_ProductsPartial" model="@Model.FeaturedProducts" />
                </div>
            </div>
        </section>
    </div>
</main>

@section script{
    <!-- Slick Slider -->
    <script type="text/javascript" src="~/assets/slick/slick.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/product.js"></script>
}