@model ProductVM
@{
    ViewData["Title"] = "Detail";
}


<style>

    .productCategory {
        color: #2a254b;
        font-size: 1.25rem;
        padding: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        background-color: #ebe8f4;
        display: inline-block;
        margin-bottom: 1rem;
        width: fit-content;
    }

    .productBrand {
        color: black;
        font-size: 1.25rem;
        padding: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        background-color: teal;
        display: inline-block;
        margin-bottom: 1rem;
        width: fit-content;
    }

    .product-image {
        width: 100%;
        height: 350px;
        border-radius: 5px;
    }

    .active-image {
        border: 3px solid greenyellow;
    }

    .image-delete {
        position: relative;
    }

        .image-delete button {
            position: absolute;
            left: 50%;
            top: 5%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: all 0.4s;
        }

        .image-delete:hover button {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            opacity: 1;
        }

        .image-delete:hover img {
            opacity: 0.5;
        }

</style>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Blog Image -->
            @if (Model.Images.Count() != 0)
            {
                foreach (var item in Model.Images)
                {
                    <img class="product-image @(item.IsMain ? "active-image": "")" src="~/assets/images/products/@item.Image" alt="Product Image">
                }
            }
        </div>
        <div class="col-md-6">
            <!-- Testimonial Details -->
            <div class="d-flex flex-column justify-content-center h-100">
                <h2 class="mb-3">@Model.Name</h2>
                <p class="text-muted">Created Time: @Model.CreateTime</p>
                <p class="mb-4">@Model.Description</p>
                @if(Model.CategoryName is not null)
                {
                <span>Category:</span>
                <p class="productCategory">@Model.CategoryName</p>
                }
                else
                {
                    <p class="productCategory">No Category</p>


                }
                @if (Model.BrandName is not null)
                {
                    
                <span>Brand:</span>
                <p class="productBrand">@Model.BrandName</p>
                }
                else
                {
                    <p class="productBrand">No Brand</p>

                }


            </div>
        </div>
    </div>
    <div class="back mt-2">
        <a class="btn btn-dark btn-lg text-white" asp-action="Index">Back</a>
    </div>

</div>



