@model List<WishlistDetailVM>
@{
    ViewData["Title"] = "Index";
}

@section css {
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/pages/wishlist/wishlist.css" />
}
<style>
    .continueShopping {
        color: #2a254b;
        font-size: 1.25rem;
        padding: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        background-color: #ebe8f4;
        display: inline-block;
        margin-bottom: 1rem;
    }
</style>

<!-- Main Part -->

<main>
    <section id="wishlist">
        <div class="container">
            <h1>Your Favourites</h1>
            <div class="h-100 gradient-custom">
                <div class="py-2">


                    <div class="empty  @(Model.Count == 0 ? "":"d-none")">
                        <p>Your wishlist is currently empty.</p>
                        <a class="continueShopping" asp-controller="Shop" asp-action="Index">CONTINUE SHOPPING</a>
                    </div>


                    <div class="row d-flex wishlist-table justify-content-center my-4 @(Model.Count == 0 ? "d-none":"")">
                        <div class="col-md-8">
                            <div class="card mb-4">
                                <div class="card-header py-3">
                                    <h5 class="mb-0">Wishlist - <span class="wishlist-count">@ViewBag.WishlistCount</span> items</h5>
                                </div>

                                @foreach (var item in Model)
                                {

                                    <div class="card-body addedProduct">
                                    <!-- Single item -->
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
                                            <!-- Image -->
                                            <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                                 data-mdb-ripple-color="light">
                                                <img src="~/assets/images/products/@item.Image"
                                                     class="w-100"
                                                     alt="Blue Jeans Jacket" />
                                                <a href="#!">
                                                    <div class="mask"
                                                         style="
                                  background-color: rgba(251, 251, 251, 0.2);
                                "></div>
                                                </a>
                                            </div>
                                            <!-- Image -->
                                        </div>

                                        <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
                                            <!-- Data -->
                                            <p><strong>@item.Name</strong></p>
                                                <p>Material: @item.Material</p>
                                            <button type="button"
                                                        class="btn btn-primary btn-sm me-1 mb-2 delete-wishlist-item"
                                                    data-mdb-toggle="tooltip"
                                                    title="Remove item"
                                                        data-id="@item.Id">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <button type="button"
                                                        class="btn btn-danger btn-sm mb-2 cart-add-basket"
                                                    data-mdb-toggle="tooltip"
                                                    title="Move to the wish list"
                                            data-id="@item.Id">
                                                Add to Cart
                                            </button>
                                            <!-- Data -->
                                        </div>

                                    </div>
                                    <!-- Single item -->
                                    <hr class="my-4" />
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
