@model BlogVM
@{
    ViewData["Title"] = "Detail";
}

<style>

    .tag {
        border: 1px solid #2a254b;
        padding: 4px;
        text-align: center;
        width: fit-content;
        color: #2a254b;
    }
    .blogCategory{
        color: #2a254b;
        font-size: 1.25rem;
        padding: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        background-color: #ebe8f4;
        display: inline-block;
        margin-bottom: 1rem;
        width:fit-content;
    }

</style>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Blog Image -->
            <img src="~/assets/images/@Model.Image" alt="Testimonial Image" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-6">
            <!-- Testimonial Details -->
            <div class="d-flex flex-column justify-content-center h-100">
                <h2 class="mb-3">@Model.Title</h2>
                <p class="text-muted">Created Time: @Model.CreateTime</p>
                <p class="mb-4">@Model.Description</p>
                <span>Category:</span>
                <p class="blogCategory">@Model.BlogCategoryName</p>

                <span>Tags:</span>
                <div class="d-flex gap-2 flex-wrap">
                @foreach (var item in Model.Tags)
                {
                    <p class="tag">@item.Name</p>
                }

                </div>
                
                
            </div>
        </div>
    </div>
    <div class="back mt-2">
        <a class="btn btn-dark btn-lg text-white" asp-action="Index">Back</a>
    </div>

</div>

