@model BlogVM
@{
    ViewData["Title"] = "Detail";
}

@section css{
    <!-- Custom CSS -->
    <link rel="stylesheet"
          href="~/assets/css/pages/blogDetail/blogDetail.css" />
}
<!-- Main Part -->

<main>
    <!-- Blog Section -->
    <section id="blogDetail">
        <div class="container">
            <div class="blogDetail-data row">
                <div class="col-md-6">
                    <div class="blogDeatil-data--content">
                        <h2>@Model.Title</h2>
                        <h4>@Model.BlogCategoryName</h4>
                        <br />
                        <span> <strong>Created in: </strong> @Model.CreateTime.ToString("MM/dd/yyyy") </span>
                        <p><strong>Tags:</strong></p>
                        <ul class="blog-tags">
                            @foreach (var tag in Model.Tags)
                            {
                            <li>@tag.Name</li>
                                
                            }
                        
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blogDeatil-data--img">
                        <img src="~/assets/images/@Model.Image" alt="" />
                    </div>
                </div>
            </div>
            <div class="blogDetail-content">
                <p>@Model.Description</p>
            </div>
        </div>
    </section>
</main>

